<header>
<nav class="navbar navbar-expand-md navbar-light ">
  <a class="navbar-brand" href="#"><h6>Home Control</h6></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rooms/ALL">Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/devices"  *ngIf="isAdmin">Devices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user"  *ngIf="isAdmin">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link btn-default" (click)="logout()" href="#">Logout</a>
     </li>

    </ul>

 <div class="row">

 <a class="nav-item nav-link disabled"  href="#"><i><b>{{currentUser.username}} ({{currentUser.role.toLowerCase()}})</b></i></a>
 </div>
  </div>
</nav>
</header>
